dimers/build
tests/
test_random/
dimers/*.txt
dualworm-kagome/*.png
dualworm-kagome/*.out
dualworm-kagome/*.pkl
dualworm-kagome/*.png
dualworm-kagome/__pycache__/
ANALYSIS_CSCS/
Analysis_CSCS/
Analysis_PSI/
