dimers/build
tests/
test_random/
dimers/*.txt
dualworm-kagome/*.png
dualworm-kagome/*.out
dualworm-kagome/*.pkl
dualworm-kagome/*.png
dualworm-kagome/__pycache__/
dualworm-kagome/Plot*
dualworm-kagome/*_folder
dualworm-kagome/prun*
dualworm-kagome/Profiling*
ANALYSIS_CSCS/
Analysis_CSCS/
Analysis_PSI/
Analysis_EPFL/
