dimers/build
tests/
test_random/
dimers/*.txt
dualworm-kagome/ProfilingAndTesting/PlotsResults/
dualworm-kagome/Profiling_Folder/
dualworm-kagome/prun*
dualworm-kagome/*.png
dualworm-kagome/*.out
dualworm-kagome/*.pkl
dualworm-kagome/*.png
dualworm-kagome/ProfilingAndTesting/*.png
dualworm-kagome/ProfilingAndTesting/*_folder*/
dualworm-kagome/__pycache__/*
*/*/__pycache__/
dualworm-kagome/Plot*
dualworm-kagome/*_folder
dualworm-kagome/prun*
dualworm-kagome/ProfilingAndTesting/*.pkl
dualworm-kagome/ProfilingAndTesting/*.png
dualworm-kagome/ProfilingAndTesting/*Results/*
dualworm-kagome/GroundStates/*/
dualworm-kagome/GroundStates/*.mat

ANALYSIS_CSCS/
Analysis_CSCS/
Analysis_PSI/
Analysis_PSI_EPFL/
Analysis_EPFL/
Analysis_MFUs/
MFUs/
dualworm-kagome/AnalysisCode_PSI/*.png
dualworm-kagome/AnalysisCode_PSI/*.pdf
dualworm-kagome/AnalysisCode_PSI/*.pgf
